<footer class="footer">
  <div class="social-bar">
    {% if site.twitter_username %}
    <a target="_blank" href="http://twitter.com/{{ site.twitter_username }}" title="Twitter" class="twitter js-external"></a>
    {% endif %}
    <a target="_blank" href="http://ca.linkedin.com/pub/eduardo-henrique-kasper/34/24/955" class="linkedin js-external" title="Linkedin"></a>
    {% if site.github_username %}
    <a target="_blank" href="http://github.com/{{ site.github_username }}" class="github js-external" title="GitHub"></a>
    {% endif %}
    <a target="_blank" href="http://fb.com/ehkasper" class="facebook js-external" title="Facebook"></a>
    <a target="_blank" href="mailto:{{ site.email }}" class="email js-external" title="Email me"></a>
  </div>
  <script type="text/javascript" src="javascript/index.min.js"></script>
</footer>

