    .wrapper {
        padding-top: 100px;
    }
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border: solid 1px #000;
        }
        h1, h2 {
            margin: 0;
            padding: 0;
            text-shadow: 1px 1px #333;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
            padding: 10px 0 50px;
        }
