<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <header>
        <h1 itemprop="name">Eduardo Kasper</h1>
        <h2 itemprop="jobTitle">Full Stack Developer</h2>
      </header>
      <picture>
        <source media="(max-width: 640px)" srcset="http://www.gravatar.com/avatar/024acb7ca090720c634049e330c2f0b0.jpg?s=130">
        <img itemprop="image" src="http://www.gravatar.com/avatar/024acb7ca090720c634049e330c2f0b0.jpg?s=200" alt="">
      </picture>
    </div>
    {% include footer.html %}

  </body>

</html>
